:root{
    --gugi: 'Gugi', cursive;
    --swash: 'Macondo Swash Caps', cursive;
    --stylish: 'Stylish', sans-serif;
    


    --black: #181818;
    --orange: #e8491d;
    --white: #f2f2f2;
    --grey: #cccccc;

}

body{
    background-color: var(--black);
    width: 100%;
}

.main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding: 0;
    margin: auto;
    height: 100vh;
}

#left{
    padding: 0 0 0 0 ;
    margin: 0 0 0 0 ;
    border-right: #dd846c solid 1px
}
#right{

    background: white ;
    background-size: cover;
    background-position: -72px;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

#right img{
    position: relative;
    display: block;
    height: 500px;
    width: 90%;
    
}

#right h1{
    margin-top:40px; 
    color: var(--black);
    font-weight: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;    
}

.signin {
margin-top: 10px;
margin-bottom: 10%;
position: relative;
display: block;
margin: auto; 
}

#signinForm label{
    color: var(--white);
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    padding-bottom: 8px;
    display: block;
    /* margin-left:25px; */
}

#signinForm .btn{
    background-color: var(--orange);
    color: var(--white);
    /* border-width: 1px; */
    border-color: #f2f2f2;
}
#signinForm .btn:hover{
    /* background-color: red; */
    opacity: 0.9;
    border-color: #f2f2f2;
    border-width: 2px;
}

.wrapper{
    margin-left: 10%;
}
.wrapper input, select{
    margin: auto;
    width: 80%;
    height: 42px;
    border-radius: 2px;
    background: #181818;
    line-height: 24px;
    padding: 8px 16px;
    border-style: solid ;
    border-width: 0.5px;
    border-color:grey; 
    margin-bottom:25px;
    /* margin-left:25px;   */
    color: grey; 
    width: 80%;
    padding: 0 0 0 0;

}

 footer{
position: absolute;
bottom: 0;
width: 100%;
padding: 0;
height: 50px;

}

.logo{
    /* padding-left: 80px; */
    position: relative;
    top: 5px;
    overflow: hidden;
    margin-bottom: 40px;
    margin: auto;
}

/* .logo img{
    height: 80px;
    display: block;
} */

.logo h1{
    /* padding-left: 10px; */
    color: #f2f2f2;
    font-size: 25px;
    line-height: 55px;
    /* text-align: center; */
    /* margin: auto; */
    border-bottom: #e8491d solid 0.5px;
    margin-bottom: 42px;
    margin-right: 20%;
}

.links a, .link{
    color: #cccccc;
    /* text-align: left; */
    text-decoration: none;
    font-size:11px;   
}
.links p{
    /* margin-left:40px; */
}

.links a:hover, .link:hover{
    color:var(--white);
    font-weight: bold;
    border-bottom: solid;
    border-bottom-color:var(--orange);
    padding-bottom: 4px;

}

#left footer{
    position: relative;
    bottom: 0;
    text-align: center;
    background-color: #181818;
    line-height: 12px;
    font-size: 10px;
    margin: 40px 0 0 0 ;
    padding: 10px 0 0 0 ;
    font-family: 'Courier New', Courier, monospace;
}



#slider {
    overflow: hidden;
}

#slider figure {
    min-height: 100px;
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

@media(max-width: 768px) {
    #right{
        display: none;
    }
    .main{
    display: inline;

    }
}